extends layout

block variables
  - var title = "Home"

block content
  h2.text-center.my-5 Serverless Authentication App

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to your new Authentication app! Please visit the
        #[a(href="https://github.com/felixorwari/thegates-authentication-portal", title="thegates-authentication-portal on GitHub") GitHub page] to learn more.